.app {
  text-align: center;
  min-width: 100vw;
}

.appHeader {
  background-color: #95aedf;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 20px;

  > :first-child {
    margin-right: 10px;
  }
}
